@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.indicator {
  &:hover {
    background-color: $gray-100;
  }

  .indicator-symbol {
    width: 1.5rem;
    min-height: 45px;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .selectable {
    cursor: pointer;
    width: 100%;
    transition: color 0.2s ease-in;
    &:hover {
      color: $blue;
    }

    .indicator-title {
      font-size: 1.05rem;
    }

    .indicator-desc {
      font-size: 0.75rem;
      color: $blue;
    }
  }
  .actions {
    min-height: 45px;
    width: 2.5rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;

    .info {
      color: $blue;
    }

    .chevron {
      color: $gray-600;
    }
  }
}
