.main-app {
  background-color: #f5f5f5;

  .card {
    min-height: 90vh;
  }

  .container {
    max-width: 700px;
  }

  .brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
