<div class="main-app">
  <nav class="navbar navbar-dark bg-dark">
    <div class="container container-fluid">
      <a class="navbar-brand" href="#">
        <span class="brand">
          <img
            src="../assets/dollar.png"
            alt=""
            width="30"
            style="margin-right: 0.5rem"
          />
          Indicadores económicos
        </span>
      </a>
    </div>
  </nav>
  <div class="container" style="padding: 0">
    <div class="card border-0 rounded-0">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
</div>
